

@media screen and (max-width: 767px){


 /*headerr*/

  h1{
    margin-bottom: 0.5em;
  }

 .header__search{
   display: flex;
   justify-content: flex-end;
   margin-top: 15em;
 }

  .nav__item{
    margin-bottom: 1em;
    font-size: 0.8em;
  }

  .nav__locale{
    margin-right: 0.5em;
    margin-left: 10px;
  }

  .nav__link, .header__tagline, .header__title{
    margin-left: 10px;
  }

  /*section*/

  section{
    margin: 2em 10px;
  }


  /*presentation page*/

  .pourquoi__un img, .pourquoi__deux img{
    max-width: 250px;
  }

  .qui__link{
    display: block;
    max-width: 8em;
    text-align: center;
  }

  /*dispositifs page*/

  .dispositif__card{
    text-align: center;
  }

  .dispositifs__container{
    margin-left: 10%;
  }

  .accueil{
    margin-left: 30%;
  }


  /*single article page*/
  .singleArticle__content .singleArticle__link{
    margin: 10%;
  }



  /*footer*/

  .footer__list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
  }

  .footer__legal{
    text-align: center;
  }


  //ancre
  div[id="FixedNav"]
  {
    right: 100px;

  }

}

