

@media screen and (max-width: 767px){


  //header

  h1{
    margin-bottom: 0.5em;
  }

 .header__search{
   display: flex;
   justify-content: flex-end;
   margin-top: 20em;
 }

  .nav__item{
    margin-bottom: 1em;
  }

  .nav__locale{
    margin-right: 0.5em;
  }

  //section
  section{
    margin: 2em 10px;
  }


  //dispositifs



  //articles




  //footer

  .footer__list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
  }

}

