/*fonts, colors et sizes basics*/

@font-face {
  font-family: "Modern No. 20";
  src: url("../../fonts/Modern.ttf") format("truetype");
  src: url("../../fonts/modern_no._20.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Gothic Joker";
  font-weight: normal;
  src: url("../../fonts/GothicJoker.ttf") format("truetype");
  src: url("../../fonts/gothicjoker-gxxgp_2.woff") format("woff");
}

h1, h2, h3, footer, .nav__container, .dispositif__title{
  font-family: 'Gothic Joker', Impact, sans-serif;
  font-weight: normal;
}

html{
  font-family: "Modern No. 20", serif;
  font-weight: normal;
}

.nav__container a, footer a{
  color: #FFFFFF;
  font-size: 3.75em; /*60/16*/
}

.nav__container a:hover, footer a:hover{
  font-size: 4.0625em;
  color: #C58339;
  background-color: #FFFFFF;
}

.header{
 background-image: url("../../img/pexels-pixabay-221012.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color: #FFFFFF;
  height: 31.25em; /*500*/
}

h1{
  color: #FFFFFF;
  font-size: 4em;
}

h2{
  color: #C58339;
  font-size: 3.75em; /*60/16*/
  margin: 0.75em 5px; /*45/60*/

}

h3, .vlp-link-title{
  color: #ABABAA;
  font-size: 35px;
  margin: 1.5625em 0px 0.75em 0; /*25/16  12/16*/
}

.dispositif__title{
  font-size: 1.875em; /*30/16*/
}

footer{
  background-color: #C58339;
  margin-top: 1.5625em;
}

.nav__title, .footer__title{
  display: none;
}





/*links and buttons*/

.dispositif__link, .dispositif__linkPage, .article__link, .singleDispositif__link, .form__button, .about__link, .singleArticle__link, .articles__link, .qui__link{
  background-color: #FB9A2E;
  color: #FFFFFF;
  padding: 0.5em;
  margin: 1.5625em 0.5em; /*25/16*/
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  border: none;
}


.dispositif__link:hover, .qui__link:hover, .article__link:hover, .singleDispositif__link:hover, .form__button:hover, .about__link:hover, .singleArticle__link:hover, .articles__link:hover, .dispositif__linkPage:hover{
  background-color: #FFFFFF;
  color: #FB9A2E;
  border: 1px solid #FB9A2E;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}

.header__search input{
  background-color: #FB9A2E;
  color: #FFFFFF;
  border: 1px solid #FB9A2E;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}

.header__search input[type=text], .header__search input:hover, .form__input{
  background-color: #FFFFFF;
  color: #FB9A2E;
  border: 1px solid #FB9A2E;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}
.form__input{
  color: black;
}

.screen-reader-text{
  display: none;
}

/*text layout basic*/

.search__label{
 display: none;
}

.about__description, .but__description, .qui__legend{
  max-width: 700px;
  margin-bottom: 1.5625em;
  line-height: 25px;
}


.singleArticle__fig, .dispositifs__fig, .singleArticle__content{
  margin-bottom: 1.5625em;
}

.layout__about, .layout__articles, .layout__pourquoi, .layout__qui{
  margin-bottom: 8em;
  margin-left: -50px;
  border: 1px solid #FB9A2E;
  padding: 4em;
  -webkit-border-top-right-radius: 500px;
  -webkit-border-bottom-right-radius: 500px;
  -moz-border-radius-topright: 500px;
  -moz-border-radius-bottomright: 500px;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
}

.politique__content{
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

/*dispositifs*/

.layout__dispositifs{
  margin-bottom: 8em;

  border: 1px solid #FB9A2E;
  padding: 2em;
  text-align: right;
  -webkit-border-top-left-radius: 500px;
  -webkit-border-bottom-left-radius: 500px;
  -moz-border-radius-topleft: 500px;
  -moz-border-radius-bottomleft: 500px;
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
}

.dispositifs__container{
  height: 350px;
  width: 300px;
  overflow: scroll;
  white-space: nowrap;
  margin-left: 10em;
  display: flex;
  margin-right: 1.5em;
  text-align: center;
  margin-bottom: 1.5em;
}

.dispositifs__container::-webkit-scrollbar, .articles__container::-webkit-scrollbar {
  width: 14px; /* width of the entire scrollbar */
}



.dispositifs__container::-webkit-scrollbar-thumb, .articles__container::-webkit-scrollbar-thumb {
  background-color: #C58339; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #FB9A2E; /* creates padding around scroll thumb */

}

.dispositifs__fig img, .vlp-link-image{
  max-width: auto;
  max-height: 150px;

}

.dispositif__cardPage{
  padding: 1em;
  border: 1px solid #FB9A2E;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  margin-bottom: 1.5em;
}

.dispositif__card:hover, .dispositif__cardPage:hover{
  background-color: #FFDEAD;
  transition: all 1s ease-in-out;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.dispositif{
  margin-left: 2em;
}





/*articles*/

.layout__articles{
  margin-right: 30%;
}

.articles{
  padding: 1em;
  border: 1px solid #FB9A2E;
  -webkit-border-top-right-radius: 500px;
  -webkit-border-bottom-right-radius: 500px;
  -moz-border-radius-topright: 500px;
  -moz-border-radius-bottomright: 500px;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  margin-bottom: 1.5em;
}

.articles__title{
  padding-left: 1em;
}

.articles__container{
  height: 455px;
  width: 350px;
  overflow: scroll;
  white-space: nowrap;
  text-align: center;
  margin-right: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: flex-start;
  align-items: stretch;
}

.article__card{
  white-space: pre-line;
  max-height: auto;
  max-width: 30%;
  text-align: left;
  margin-right: 2em;
  display: grid;
  grid-gap: 0.5em;
  padding-left: 3em;
  border-bottom: 1px solid #FFDEAD;
}

.vlp-block-4, .vlp-link-image{
  max-height: 20%;
  max-width: auto;
  margin-right: 2em;
}

.article__title{
  margin: 0.2em;
  font-size: 1.5em;
}

.article__date{
  margin-bottom: -2em;
}

.article{
  margin-bottom: 1.5em;
}

.article__card:hover{
  background-color: #FFDEAD;
  transition: all 1s ease-in-out;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding-right: 3em;
  margin-left: 4em;
}



/****************/
/*presentation page*/

.qui__fig img{
  max-width: 150px;
  max-height: auto;
}

.qui__fig{
  margin: 1em;
}

.qui__legend, .but__conclusion{
  font-weight: bold;
}

.qui__partner{
  margin-bottom: 4em;
}

.qui__partner p{
  margin-bottom: 2em;
}

.qui__link{
  margin: 2em 0.5em;
}

.about__fig img{
 max-width: 80%;
  margin: 1em 0.5em;
}

.layout__pourquoi{
  display: grid;
}


.pourquoi__un, .pourquoi__deux{
  grid-row: 2;
  grid-column: 1;
 max-width: 200px;
  max-height: auto;
}

.pourquoi__deux{
  z-index: -1;
}

.pourquoi__description{
  background-color: #FFFFFF;
  padding: 0.5em;
}

.pourquoi__un:hover{
  display: none;
}



.pages{
  margin-left: 50%;
}

/**** single dispositif page ******/

.layout__singleDispositif{
  margin-left: 10px;
  margin-right: 10px;
}

.heateor_sss_sharing_container{
  text-align: right;
}

.heateor_sss_sharing_ul{
  margin: 1em;
}

.heateor_sss_sharing_ul a{
  margin-right: 0.5em;
}

.heateor_sss_sharing_ul a:hover{
  border: 1px dotted #FB9A2E;
}

.single__price, .single__caracteristics, .single__results, .single__technicals, .singleDispositif__aside{
  border: 1px solid #FB9A2E;
  -webkit-border-radius: 600px;
  -moz-border-radius: 600px;
  border-radius: 600px;
  padding: 0 2em 3em 2em;
  margin-bottom: 2em;
  text-align: center;
}

.singleDispositif__aside{
  text-align: center;
}


/*single article page*/

.singleArticle{
  margin-left: 10px;
  margin-right: 10px;
}

.singleArticle__label{
  text-decoration: underline;
  text-decoration-color: #C58339;
}

.singleArticle__data{
  margin-bottom: 0.5em;
}

.vlp-layout-zone-main{
  margin-bottom: 1.5em;
}

.vlp-layout-zone-side{
  text-align: center;
}

/*form*/

.contact__form{
  font-family: "Modern No. 20", serif;
  margin: 1em;

}

.form__field:nth-child(1){
  margin-top: 1em;
}

.contact_form_feedback{
  color: #d79f9f;
  font-weight: bold;
}


.form__field{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.form__input{
  padding: 0.5em;
  width: 200px;
}

.form__input:focus{
  background-color: #FB9A2E;
  opacity: 20%;
}

.form__checkbox a{
  text-decoration: underline;
  text-decoration-color: #FB9A2E;
}

.form__checkbox a:hover{
  color: #FB9A2E;
}

.form__confirm{
  margin-bottom: 1em;
  font-size: 1.5em;
}

.form__button{
  margin-left: 43%;
  padding: 1em;
}


/* ancre */

/*ancre haut de page*/
div[id="FixedNav"]
{
  position:fixed;
  bottom: 100px;
  right: 80px;
  cursor: pointer;
  z-index: 1;
  background-color: #FFFFFF;
  border-radius: 100px;
  width: 48px;
  height: 48px;
  animation:  clignoter 20s linear infinite;
  transition: none;
}

@keyframes clignoter {
  0%,10%   { transform: scale(1);}
  5%   {  transform: scale(0.7);}
}

div[id="FixedNav"] a{
  border-bottom: none;
}

.cVisible{
  visibility: visible;
  transition: 5s;
  display: initial;
}

.cInvisible{
  visibility: hidden;
  display: none;
}


/*apparition au scroll*/
/*
.reveal{
  opacity: 0;
  transform: translateY(30px);
}

.reveal-visible{
  opacity: 1;
  transform: translateY(0);
  transition: 1s cubic-bezier(.5, 0, 0, 1);
}
*/
